%h2 捐助

= form_for @alipay_donate do |f|
  = f.hidden_field :currency
  = f.label :amount, '支付宝 金额: '
  ¥
  = f.text_field :amount
  = f.submit '捐助'

= form_for @paypal_donate do |f|
  = f.hidden_field :currency
  = f.label :amount, 'paypal amount: '
  $
  = f.text_field :amount
  = f.submit 'donate'

%h2 捐助记录
%table.transactions
  %th 捐助人
  %th 捐助金额
  %th 捐助时间
  - Transaction.histories.each do |transaction|
    %tr.transaction{:class => cycle("even", "odd")}
      %td.buyer_email= transaction.buyer_email.sub('%40', ' at ').gsub(/\./, ' dot ')
      %td.total_fee= number_to_currency(transaction.total_fee, :unit => '¥')
      %td.donate_time= distance_of_time_in_words_to_now(transaction.notify_time)
